@import 'mixin';
$black: #000;
$white: #fff;
$ds: drop-shadow(0 0 5px $black);

header{
  background-color: $black;
  padding: 20px 0;
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
  left: 0;
  max-height: 62px;
  nav{
    a{
      color: $white;
      display: inline-block;
    }
    .active{
      text-decoration: underline;
    }
  }
}
.text-center{
  text-align: center;
}
.text-error{
  color: #fe2328;
  border: 1px solid  #fe2328;
  display: inline-block;
  padding: 5px;
}
a{
  color: $black;
  text-decoration: none;
  padding: 0 10px;
  text-transform: full-width;
  transition: .3s;
  &:hover{
    transform: scale(1.1);
  }
}

h1{
  text-align: center;
  text-transform: full-width;
  max-width: 360px;
  margin: 70px auto 20px auto;
  border: 1px dashed $black;
  padding: 10px;
}
.empty-text{
  color: $black;
  text-align: center;
}
.modal{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000a6;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 3;
  .modal-action_background{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .modal-action_window{
    max-width: 520px;
    width: 100%;
    border-radius: 8px;
    color: #222;
    position: relative;
    z-index: 3;
    background-color: #ffffffe3;
    &__header{
      padding: 20px 30px;
      border-radius: 8px 8px 0 0;
      background-color: #dfdfdf;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h2{
        font-weight: bold;
        font-size: 22px;
        margin: 0;
      }
    }
    &__close {
      width: 20px;
      height: 20px;
      position: relative;
      cursor: pointer;
      transition: .3s;
      &:hover{
        transform: rotate(90deg);
      }
      &:after,
      &:before{
        position: absolute;
        top: 0;
        left: 9px;
        content: ' ';
        height: 20px;
        width: 2px;
        background-color: #222;
      }
      &:after{
        transform: rotate(-45deg);
      }
      &:before{
        transform: rotate(45deg);
      }
    }
    &__products{
      max-height: 400px;
      overflow: auto;
      margin: 10px 0;
      &-product{
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &--image{
          max-width: 70px;
          height: 70px;
          border-radius: 5px;
          filter: $ds;
        }
        &--name{
          margin: 0;
        }
        &_options{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          &--option{
            margin: 0;
          }
          span{
            filter: $ds;
          }
        }
      }
    }
    &__actions{
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 25px;
      .modal-action__button{
        max-width: 100px;
        min-height: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 8px;
        margin: 0 5px;
        color: $white;
        background-color: #222;
        transition: .3s;
        cursor: pointer;
        &:hover{
          transform: scale(1.1);
          -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
        }
      }
    }
  }
}
.product-list{
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 20px auto;
  align-items: center;
  padding: 0;
  &_card{
    width: calc(20% - 20px);
    @include media((
      width: (lg: calc(25% - 20px), md: calc(33% - 20px), sm: calc(50% - 20px)),
      margin: 10px,
      list-style: none
    ));
    &_image{
      position: relative;
      &--close{
        width: 20px;
        height: 20px;
        position: absolute;
        cursor: pointer;
        transition: .3s;
        right: 10px;
        top: 10px;
        background: #fff;
        border-radius: 100%;
        &:hover{
          transform: rotate(90deg);
        }
        &:after,
        &:before{
          position: absolute;
          top: 0;
          left: 9px;
          content: ' ';
          height: 20px;
          width: 2px;
          background-color: #222;
        }
        &:after{
          transform: rotate(-45deg);
        }
        &:before{
          transform: rotate(45deg);
        }
      }
      &--like{
        width: 20px;
        height: 20px;
        fill: #fff;
        position: absolute;
        right: 10px;
        top: 10px;
        filter: $ds;
        opacity: 0.7;
        transition: .3s;
        cursor: pointer;
        &:hover{
          opacity: 1;
          fill: #fe2328;
          transform: scale(1.1);
        }
      }
      .liked{
        opacity: 1;
        fill: #fe2328;
      }
      &--main{
        background-color: #b2b2b2;
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
    }
    &_description{
      padding: 15px;
      background-color: $white;
      border-radius: 0 5px 0 5px;
      box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.15);
      &--name{
        font-size: 16px;
        margin: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      &_options{
        &--option{
          margin-top: 15px 0 0 0;
          height: 43px;
          span{
            filter: $ds;
          }
        }
      }
      &_actions{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
        &--price{
          font-size: 18px;
          font-weight: bold;
          color: #1e1e20;
          margin: 0;
        }
        &--add{
          background-color: #1e1e20;
          font-size: 12px;
          color: $white;
          border-radius: 5px;
          padding: 7px;
          border: none;
          text-transform: uppercase;
          transition: .3s;
          border: 1px solid $black;
          cursor: pointer;
          &:hover{
            color: #1e1e20;
            background-color: $white;
            transform: scale(1.1);
          }
        }
      }
    }
   
  }
  
}

.cart{
  display: flex;
  flex-direction: row-reverse;
  @media (max-width: 965px){
    flex-direction: column;
  }
  &-total{
    font-size: 22px;
    text-align: right;
    padding: 0 10px;
  }
  &-form{
    padding: 0 15px;
    margin: auto;
    width: 50%;
    @media (max-width: 965px){
      width: 100%;
      max-width: 700px;
    }
  }
  &-submit{
    button{
      border-color: transparent;
      color: $white;
      background-color: $black;
      text-transform: uppercase;
      border-radius: 15px;
      max-width: 220px;
      width: 100%;
      margin: 10px auto;
      font-size: 22px;
      display: block;
      padding: 10px 0;
      cursor: pointer;
      transition: .3s;
      &:disabled{
        opacity: 0.5;
        cursor: not-allowed;
      }
      &:hover{
        color: $black;
        border-color: $black;
        background-color: $white;
      }
    }
  }
}
.control-form{
  display: flex;
  flex-direction: column;
  label{
    text-transform: uppercase;
    font-size: 18px;
    padding-bottom: 5px;
  }
  .required{
    &:after{
      content: '*';
      color: #fe2328;
    }
  }
  input{
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 2px dashed #000;
    border-radius: 15px;
  }
}